Repository lab-antwerp-1/hyf-group3, pull requests merged in 2021-10, with the labels that each got.

#19 adding to retrospective
  planning/retrospective.md
Labels: planning, retrospective

#20 design section
  planning/Home.png
  planning/design.md
Labels: planning, design

#18 Edit /planning constrains.md
  .cspell.json
  README.md
  planning/constraints.md
Labels: documentation, planning

#23 Design students page
  planning/design.md
Labels: design, website

#22 adding design volunteers/coaches
  planning/design.md
Labels: design, website

#33 add about page
  planning/design.md
Labels: design

#34 Design supporter page
  planning/design.md
Labels: design

#35 Design alumini page
  planning/design.md
Labels: design
