Repository lab-antwerp-1/hyf-group3, pull requests merged in 2021-11, with the labels that each got.

#37 Footer
  index.html
  styles/index.css
Labels: home page, html, css

#36 Header
  img/hp-p1.png
  img/hyf-logo.svg
  index.html
  styles/index.css
Labels: html, css

#42 Add section 3-impact HTML and CSS code
  index.html
  styles/index.css
Labels: home page, development, html, css

#38 core values
  img/commitment-fbbb30e26f644c37a3f840b712d44622.svg
  img/community-3347f757a579fb678f68ee42a03ea14b.svg
  img/diversity-inclusiveness-da0e781b5d30e2f8eebbc90e94bca398.svg
  img/open-a250298a62de2a8d61c7c5ae00eaa031.svg
  index.html
  styles/index.css
Labels: home page, html, css

#44 adding section 2 our program
  index.html
  package-lock.json
  planning/communication-plan.md
  planning/retrospective.md
  public/students.png
  styles/index.css
Labels: help wanted, home page, development, html, css
